
// Variables para todo el texto de la página.

$SizeFuenteTitulo: 4rem;
$SizeFunetetituloResponsive490px: 3rem;
$SizeFuenteTextoSmall: 1.2rem;
$SizeFuenteInputPlaceholderBoton: 1.6rem;
$SizeFuenteTexto: 1.7rem;
$SizeFuenteTextoInputPlaceholderBotonResponsive490: 2rem;


$ColorFuenteTitulo: #939393;
$ColorFuenteTituloSpan: #15202B;
$ColorFuenteTextoInput: #4C4F51;
$ColorFuenteInputPlaceholderSmall: #BFC3CE;

$Weight300: 300;
$weight500: 500;
$weight700: 700;


//Variables para el contenedor principal.

$MaxWidthContenedorPrincipal: 64rem;

$MarginSuperiorContenedorPrincipal: 9rem;
$MarginInferiorContenedorPrincipal: 6rem;

//Variables para el header de la página.

$MarginInferiorHeader: 6rem;


//Variables para el contenedor-texto y todos sus elementos.

$MarginInferiorContendorTexto: 4rem;
$MarginInferiorTitulo: 2.5rem;


// variables para el formulario.

$MaxWidthInput: 42rem;
$MaxWidthBoton: 20rem;

$HeightInputBoton: 6rem;

$PaddingInput: 2rem 3rem;
$MarginInferiorFormulario: 9rem;

$BordeInputRedes: solid 1px #CED2E3;

$BackgroundBoton: #4D7BF3;
$BackgroundBotonHover: #7095F5;

//Variables para el footer.
$MarginSuperiorFooter: 7rem;

//Variables para los botones de redes sociales.

$MarginBottomContenedorBotonesRedes: 2.5rem;
$WidthHeight: 3rem;
$PaddingTopBotonesRedes: 0.8rem;
$BackgroundBotonRedesHover: #4A7DF0;
